*top level directives reffered to as contexts, group together the directives that apply different traffic types:*
*events* general connection processing *
*http* http traffic *
*mail* mail traffic*
*stream*TCP UDP traffic*
 *dirrectives placed outside these contexts are said to be in the main context.*

worker_processes 1;

events{
    worker connections 1024;
}

*defines how nginx should handle requests for a particular domain or IP address--how to listen for connections--which domain or sub-domain the configuration applies to*
http {
    include mime.types;

    upstream nodejs_cluster{
        least_conn;
        server 127.0.0.1:3001;
        server 127.0.0.1:3002;
        server 127.0.0.1:3003;
    }
    server{*server block--IP address and port the server willaccept requests*
        listen 8080;
        server_name localhost;

        location /{*location block--proxy pass = tells nginx to pass requests to another server making it act as a reverse proxy*
        *upstream block --reffers to servers that nginx forwards requests to :1. upstream_name based on flow of data 2. upstream servers--traffic going from a client toward the source or higher level infra' in this case application server-3.downstream servers--traffic going back to client*
        *upstream block--defines a group of backend servers that will handle requests forwarded by nginx*
            proxy_pass http://nodejs_cluster
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
        }
    }
}